<div id="nav">
  <%=  %>
    <% if is_logged_in? %>
    <%= link_to 'home', root_path%>
    <%= link_to 'products', products_path %>

    <%= link_to 'sign out', destroy_user_session_path, method: 'delete' %>

    <% if is_admin? %>
      <%= link_to 'admin', rails_admin_path %>
    <% end %>
  <% end %>
</div>
