<div id="nav">
  <%=  %>
  <%= link_to 'home', root_path%>
  <%= link_to 'products', products_path %>

  <% if is_logged_in? %>
    <%= link_to 'sign out', destroy_user_session_path, method: 'delete' %>
  <% end %>

  <% if is_admin? %>
    <%= link_to 'admin', rails_admin_path %>
  <% end %>

  <%= current_user.email if current_user %>
</div>
